* {
  font-family: "Cairo";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Custom radius for react-date-rang */

.rdrStartEdge,
.rdrDayStartPreview,
.rdrDayStartOfWeek .rdrDayInPreview,
.rdrDayStartOfWeek .rdrInRange {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.rdrEndEdge,
.rdrDayEndPreview,
.rdrDayEndOfWeek .rdrDayInPreview,
.rdrDayEndOfWeek .rdrInRange {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
